<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{assets/dist/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<p th:text="${users}"></p>
<p th:text="${a.account}"></p>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${users}">
        <td th:text="${user.getAccount()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getGender()}"></td>
        <td th:text="${user.getUsername()}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>